{% extends 'main.html' %}

{% block content %}

    <div class="content-wide">    
        {% include 'component_tmpText.html' %}
    </div>

    <div class="home-container content-center">
        <!-- <div class="wrap"> -->
            <div>
                {% include 'component_search.html' with action_url=action_url %}
                {% include 'component_filter.html' %}
            </div>

            <div>
                {% include 'component_feed.html' %}
            </div>

            <div>
                {% include 'component_activity.html' %}
            </div>
        <!-- </div> -->
    </div>

{% endblock content %}