{% extends 'main.html' %}

{% block content %}
    
    <div class="content-center">
        <h1>{{ painter }}</h1>
        <p>{{ painter.description }}</p>
    </div>

    <div class="painter-comments content-center">
        <div>
            <div class="comment-list">
                <h3>Messages</h3>{% include 'component_search.html' with action_url='painter' url_parametr=painter_id %}
                <hr>
                
                <ul>
                {% for comment in comments %}
                <li>
                    <small>@{{comment.user}} {{ comment.created|timesince }}</small>
                    <p>{{ comment }}</p>
                    {% if request.user == comment.user %}
                        <a href="{% url 'commentDelete' comment.id %}">Delete</a>
                    {% endif %}
                </li>
                {% endfor %}
                </ul>
            </div>

            {% if request.user.is_authenticated %} 
            <div class="comment-form">
                <form action="" method="post">
                    {% csrf_token %}
                    <input type="text" name="body" placeholder="Comment..">
                    <input type="submit" value="Send">
                </form>
            </div>
            {% endif %}
        </div>

        <div>
            <h3>Users</h3>
            <hr>

            {% for participant in participants %}
            <div class="participant">
                <p>@{{ user.username }}</p>
            </div>
            {% endfor %}
        </div>

        <script>
            const participants = document.querySelectorAll('.participant')
            participants.forEach((participant) => {
                const paragraph = participant.querySelector('p')
                participant.addEventListener('click', (e) => {
                    e.target.style.background = 'pink';
                    // participant.style.background = 'pink';
                    paragraph.style.color = 'orange';
                })
            })
        </script>

    </div>

{% endblock content %}